<div class="container-fluid">
  <h1 class="text-center">De quoi a-t-on besoin ?</h1>
  <br />

  <ul class="fa-ul big1 blink-item big1">
    <li class="">
      <i class="fas fa-arrow-right text-success"></i>
      Utilisation de <code>let</code> et <code>const</code> vs <code>var</code>
    </li>
    <li>
      <i class="fas fa-arrow-right text-success"></i>
      La distructuration (<code>déstructuring</code> )
    </li>
    <li>
      <i class="fas fa-arrow-right text-success"></i>
      Les fonctions flêchées (<code>Arrow functions</code>)
    </li>
    <li>
      <i class="fas fa-arrow-right text-success"></i>
      Les méthdes de l'objet Array (<code>map</code>,
      <code>filter</code>, <code>find</code>, ...)
    </li>
    <li>
      <i class="fas fa-arrow-right text-success"></i>
      La répartition (<code>Spread ...</code>)
    </li>
    <li>
      <i class="fas fa-arrow-right text-success"></i>
      Les classes (<code>class, extends</code>, ...)
    </li>

    <li>
      <i class="fas fa-arrow-right text-success"></i>
      Les modules (<code>import</code>, <code>export</code>, ...)
    </li>
  </ul>
</div>
