<div class="container-fluid  ">
  <h1 class="text-center ">let, const et var</h1>
  
  <p class="big2"><code>let</code> et <code>const</code> sont venues 
    pour corriger deux  problèmes majeurs : 
    <ul class=" big2 fa-ul">
      <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
        Eviter d'écraser des variables déjà définies avant
        <span class="small text-muted"> <br>
          (Il n'y a pas que vos 
          scripts dans votre page !) </span>
      </li>
      <li class=" blink-item">
      <i class="fas fa-arrow-right text-success"></i>
        Définir des scopes (portée de variable) au niveau des 
        blocs <br><span class="small text-muted">(et non au 
          niveau des fonctions !) </span>
      </li>
    </ul>
  </p>
</div>
