<div class="container-fluid">
  <h1 class="text-center">Arrow functions</h1>
  <p>Ces fonctions apportent d'abord de la simplicité et la lisibilié
    du code surtout lorsqu'on les passent en argument à une autre 
    fonction. 
<ul class="fa-ul">
  <li class="blink-item"><h3>Syntaxe avec un seul argument</h3>
    <textarea class="myCode">

  /*  f   -> nom de la fonction, 
      x -> argument de la fonction (ici 1 seul), 
      console.log(x) -> corps de la fonction  
  */ 
  
  const f = x => console.log(x);
  f(66);
</textarea>
  </li>
  
</ul>
</p>
</div>
