<div class="container-fluid">
  <h1 class="text-center">Arrow functions</h1>
  <p>
<ul class="fa-ul">
  <li class="blink-item"><h3>Avec plusieurs arguments</h3>
    <textarea class="myCode">
  /*  (x, y) -> arguments de la fonction, 
      x * y -> corps de la fonction 1 seule instruction
      Retourne implicitement le résultat de l'instruction. 
  */ 
  const mul = (x, y) => x * y;
  mul(10, 10) /* retourne 100 */;
</textarea>
  </li>
  <li class="blink-item"><h3>Utilisation comme argument </h3>
    <textarea class="myCode">
  /*  
    Array.forEach( f ); la fonction f est appelée 
    pour chacun des éléments du tableau.  
  */ 
  [1, 2, 3, 4].forEach( e => console.log(e) );
  </textarea>
  </li>
  
  
</ul>
</p>
</div>
