<div class="container-fluid">
  <h1 class="text-center">Les tableaux et leurs Méthodes</h1>
  <p>
  <a href="js/panier.js" target="_blank" type="text/js">
    Fichier utilisé dans cette démonstration.
  </a>
<ul class="fa-ul">
  <li class="blink-item">
    <h3>Tableau comme pile ou file (push, pop, unshif et shift)</h3>
  </li>
  <li class="blink-item">
    <h3>Faire une copie transformée d'un tableau (map) </h3>
  </li>
  <li class="blink-item">
    <h3>Faire une copie filtrée d'un tableau (filter) </h3>
  </li>
  <li class="blink-item">
    <h3>Chercher un élément d'un tableau (find) </h3>
  </li>
  <li class="blink-item">
    <h3>Réduire un tableau (reduce) </h3>
  </li>
  
  
</ul>
</p>
</div>
