<div class="container-fluid">
  <h1 class="text-center big3">Les classes</h1>
  <p>
<ul class="fa-ul">
  <li class="blink-item small">
    <h4>Définition de la classe</h4>
    <textarea class="myCode">
  class Point {
    /* Constructeur */
    constructor(x = 0, y = 0) {
      this.x = x;
      this.y = y;
    }
    /* Une méthode calcule la distance à un autre point */
    distance(pt = {x: 0, y: 0}) {
      return Math.sqrt( (this.x-pt.x)**2 + (this.y-pt.y)**2 )
    }
    /* Surcharge d'une méthode héritée */
    toString(){
      return `Point[${this.x}, ${this.y}]`;
    }
  }
  /* Instanciation  de la classe */
  const p1 = new Point(10, 10);
  /* Appel de la méthode distance() */
  console.log(p1.distance());</textarea>
  </li>
  
</ul>
</p>
</div>
