<div class="container-fluid">
  <h1 class="text-center big3">Les Modules</h1>
  <p>
    Les modules permettent d'ecrire du code dans plusieurs 
    fichiers séparés. Exemple : 
<ul class="fa-ul">
  <li class="blink-item small">
    <h5>Exportation</h5>
    <textarea class="myCode">
  /*  Fichier ./lib/math.js  */
  export default const version = "1.0.0";
  export const carre = (x) => x * x;
  export const cube = (x) => x * x * x;</textarea>
  </li>
  <li class="blink-item small">
    <h5>Importation 1</h5>
    <textarea class="myCode">
  /*  Fichier  ./index.js  */
  import version, {carre} from "lib/math";
  console.log(version);
  var y = carre(21);</textarea>
  </li>
  <li class="blink-item small">
    <h5>Importation 2</h5>
    <textarea class="myCode">
  /*  Fichier  ./index.js  */
  import * as math from "lib/math";
  console.log(math.version);
  var y = math.cube(21);</textarea>
  </li>
  
</ul>
</p>
</div>
